{% load crispy_forms_tags %}

{% if survey.active %}
  {% if not properties %}<h4>{{ survey.title|default:"Form" }}</h4>{% endif %}

  {% if form %}
    {% if form.errors %}
        <div class="alert alert-danger">
            <a class="close" data-dismiss="alert" href="#">×</a>
            There are errors in the form submitted (see below). Please try again.
        </div>
    {% endif %}
  {% else %}
    {{ survey.thanks|safe }}
  {% endif %}

  {% csrf_token %}
  {% crispy form %}

{% endif %}
