{% extends "base_panel.html" %}
{% load i18n %}

{% block top_container %}
  PROJECT - {{ project_detail.name }}
  <p class="pull-right">
    <a href="{% url "app:edit_project" project_detail.pk %}" class="btn btn-info btn-sm"> <i class="icon-pencil"></i> <span> Edit Project</span> </a>
    {% if project_detail.live_mode %}
      <a href="{% url "app:switch_project" project_detail.pk 0 %}" class="btn btn-sm btn-danger"><i class="icon-ban"></i> Switch to Test Mode</a>
    {% else %}
      <a href="{% url "app:switch_project" project_detail.pk 1 %}" class="btn btn-sm btn-success"><i class="icon-check"></i> Switch to Live Mode</a>
    {% endif %}

  </p>
{% endblock %}


{% block main_container %}

  <table class="table">
    <tbody>
      <tr>
        <th>Name</th>
        <td>{{ project_detail.name|default:'-' }}</td>
      </tr>
      <tr>
        <th>Slug</th>
        <td>
          {{ project_detail.slug|default:'-' }}
        </td>
      </tr>
      <tr>
        <th>Description</th>
        <td>{{ project_detail.description|default:'-' }}</td>
      </tr>
      <tr>
        <th colspan=1>Pages</th>
        <td>
          {% if project_detail.pages.all %}
            {% for page in project_detail.pages.all %}
              <div><a href="#">{{ page.name }}</a></div>
            {% endfor %}
          {% else %}
            No Page
          {% endif %}
          <h6><a href="#"><i class="icon-plus"></i> Add More Page</a></h6>
        </td>
      </tr>
      <tr>
        <th>Owner</th>
        <td>{{ project_detail.owner.name|default:'-' }}</td>
      </tr>
      <tr>
        <th>Added by</th>
        <td>{{ project_detail.added_by.username|default:'-' }}</td>
      </tr>
      <tr>
        <th>Date Added</th>
        <td>{{ project_detail.datetime_added|default:'-' }}</td>
      </tr>
      <tr>
        <th>Last Modified</th>
        <td>{{ project_detail.last_modified|default:'-' }}</td>
      </tr>
      <tr>
        <th>Status</th>
        <td> 
          {% if project_detail.live_mode %}
            <span class="label label-success">Live Mode</span>
          {% else %}
            <span class="label label-default">Test Mode</span>
          {% endif %}
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th colspan=2>
          <a href="{% url 'app:projects' %}" class="btn btn-sm btn-default">Back To Projects</a>
        </th>
      </tr>
    </tfoot>
  </table>
{% endblock %}
